.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    min-height: 400px;
    border-bottom: 1px ridge;
}
.row-header{
    margin: 0px auto;
    padding: 0px;

}
.footer{
    margin: 0px auto;
    background-color: #D1C4E9;
    padding: 20px 0px;
}
.jumbotron{
    background: #9575CD;
    color: floralwhite;
    margin: 0px auto;
    padding: 70px 30px;
}
body{
    padding: 50px 0 0 0;
    z-index: 0;
}
nav{
    background-color: #512DA8;
    
}